1,aa,bb,cc,dd,
2,aa,cc,ee,
3,bb,cc,ee,
4,cc,ee,ff,gg,
5,aa,bb

x = 3
y = 2

groupNames: aa:1 bb:2 cc:3 dd:4 ee:5 ff:6 gg:7
groupValues: 1:aa 2:bb 3:cc 4:dd 5:ee 6:ff 7:gg

users2groups: 10:[ 1 2 3 4 ]
              21:[ 1 3 5 ]
              37:[ 2 3 5 ]
              44:[ 3 5 6 7 ]
users: [ 10 21 37 44 ]

circleIdx    10 21 37
circleGroups 1 3 5 6
circleGroupsRemoved [] [ 2 4 ]

1 2 3 4 ^ 1 3 5 = 1 3
                  2 4